$co:Comic Sans MS,
Comic Sans,
cursive;
// Couleurs
$c1:#8A7EA6;
$c2:#D60121;
$c3:#024981;
$c4:#EAE8FF;
html,
body {
    background-color: $c4;
    @media screen and (max-width: 600px) {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }
    @media screen and (min-width: 600px) {
        font-family: $co;
        margin: 0;
        padding: 0;
    }
}

header {
    background-color: $c2 !important;
    @media screen and (max-width: 600px) {
        .logo {
            background-image: url("../img/Titre\ Lapin\ Malin.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 0;
            height: 200px;
            padding: 0;
            h1 {
                padding-top: 65px;
                color: yellow;
                -webkit-text-fill-color: yellow;
                /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: red;
            }
        }
    }
    @media screen and (min-width:600px) {
        .logo {
            background-image: url("../img/Titre\ Lapin\ Malin.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 0;
            height: 200px;
            padding: 0;
            h1 {
                padding-top: 65px;
                color: yellow;
                -webkit-text-fill-color: yellow;
                /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: red;
            }
        }
    }
    .barre {
        background-color: $c3;
        margin: 0;
    }
}

span[data-bs-toggle="collapse"] {
    &:hover {
        cursor: pointer !important;
        color: $c1;
    }
}

h3 {
    background-color: $c3;
    color: $c4;
    padding: 5px;
}

.card-body {
    background-color: $c4;
}

.w-50 {
    @media screen and (max-width: 600px) {
        width: 100% !important;
    }
}

.collapse:not(.w-25 :first-child) {
    @media screen and (max-width: 600px) {
        width: 100% !important;
    }
}

